{% extends "master.html" %}
{% load static %}
{% block title %}
    Artificial Heirlooms
{% endblock %}

<!-- item_detail.html -->

{% block content %}

<div class="item-details-container">
    <h1 class="item-name">{{ item.name }}</h1>
    <div class="image-panel">
        <img src="{{ item.image.url }}" alt="{{ item.name }}">
    </div>
    <p class="item-description">Price: {{ item.price }} Ks</p>
    <p class="item-description">{{ item.description }}</p>
    <a class="back-to-items" href="{% url 'items' %}">Back to items</a>
</div>

{% endblock %}

