{% extends "master.html" %}
{% load static %}
{% block title %}
  Items
{% endblock %}

{% block content %}

  <div class="row">
    {% for item in item_list %}
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img class="thumbnail" src="{{ item.image.url }}" alt="{{ item.name }}">
      <div class="box-element product text-center">
        <span class="badge bg-light text-dark p-2 fs-6">{{ item.name }}</span>
        <a class="btn btn-outline-secondary" href="{% url 'item_detail' item.id %}">View</a>
        <span class="badge bg-success p-2 fs-6">{{ item.price }}Ks</span>

        <hr>
        <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
