{% extends "wallpaper_base.html" %}
{% load static %}
{% block title %}
    Artificial Heirlooms
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <br>
        <div class="card mb-4">
            <h1 class="text-center">Artificial Heirlooms</h1>
            <table width="100%">
                <tr>
                  <td align="left">Authentic</td>
                  <td align="right">Still Refreshing</td>
                </tr>
            </table>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title">Available Indeed!</h2>
                        <h3 class="card-title">Check out all our <a href="/products/" class="btn btn-outline-success p-2 fs-10 souvenirs">souvenirs</a>!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
