{% extends "wallpaper_base.html" %}
{% load static %}
{% block title %}
    Artificial Heirlooms
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <br>
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Artificial Heirlooms</h2>
                <p class="card-text">
                    Each artefact in this collection ist a testament to the timeless craftsmanship. Whether be it a beautifully carved wooden trinket or a meticulously handcrafted pottery piece, thou shall find treasures that add a touch of tradition feel to thy home.
                </p>
                <h3 class="card-title">Discover Our Collection</h3>
                <a href="/products/" class="btn btn-outline-success p-2 fs-10 souvenirs">Browse Here</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title">Available Indeed!</h2>
                        <h3 class="card-title">Check out all our <a href="/products/" class="btn btn-outline-success p-2 fs-10 souvenirs">souvenirs</a>!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
