{% extends "master.html" %}
{% load static %}
{% block title %}
  Products
{% endblock %}

{% block content %}

  <div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-md-6 col-sm-12">
      <!-- <img class="thumbnail" src="{{ item.image.url }}" alt="{{ item.name }}"> -->
      <div class="image-panel">
        <img src="{{ product.imageURL }}" alt="{{ product.name }}">
      </div>
      <div class="box-element product">
        <span class="badge bg-light text-dark p-2 fs-6"> {{ product.name }} </span>
        <hr>
        <a class="btn btn-outline-secondary" href="{% url 'product_detail' product.id %}">View</a> 
        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
        <span class="badge bg-success p-2 fs-6" style="float: right"><strong>{{ product.price }}Ks</strong></span>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
