{% extends "wallpaper_base.html" %}
{% load static %}
{% block title %}
    {{product.name}}
{% endblock %}

<!-- product_detail.html -->

{% block content %}

<div class="product-details-container">
    <h1 class="product-name">{{ product.name }}</h1>
    <div class="image-panel">
        <img src="{{ product.imageURL }}" alt="{{ product.name }}">
    </div>
    
    {% if product.stock > 0 %}
        <p class="product-price">Price: {{ product.price }} Ks</p>
    {% else %}
        <p class="product-price"> Out of Stock </p>
    {% endif %}
    
    <p class="product-description"> {{ product.description }} </p>
    
    {% if product.stock > 0 %}
        <button data-product="{{product.id}}" data-action="add" data-stock="{{ product.stock }}" 
            class="details-page-button update-cart">Add to Cart</button>
    {% endif %}
    
    <a class="details-page-button" href="{% url 'products' %}">Back to products</a>
</div>

<!-- Include chat bot script -->
<script src="{% static 'js/chat_bot.js' %}"></script>

{% endblock %}

