{% extends "wallpaper_base.html" %}

{% block title %}
    Artificial Heirlooms
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="card thank-you-card">
            <div class="card-body text-center">
                <h2 class="card-title">Thank You!</h2>
                <p class="card-text">
                    Thanks for shopping with us!
                </p>
                <p class="card-text">
                    Hope to help you anytime soon!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
