{% extends "wallpaper_base.html" %}

{% block title %}Login{% endblock %}

{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
  integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />

{% block content %}
<div class="auth-page container-fluid d-flex justify-content-center align-items-center full-height">
  <div class="card floating-card shadow-lg p-4" style="width: 400px;">
    <div class="card-body">
      <h2 class="card-title text-center mb-4" style="color: #FFF8DC;">
        Loginnā
      </h2>

      <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
          <label style="color: #FFFAF0; font-weight: 600;">
            {{ form.username.label }}
          </label>
          {{ form.username }}
        </div>

        <div class="mb-3">
          <label style="color: #FFFAF0; font-weight: 600;">
            {{ form.password.label }}
          </label>
          {{ form.password }}
        </div>

        <button type="submit" class="btn btn-success w-100 mb-3">
          Login
        </button>

        <p class="text-center mt-2" style="color: #FFFFE0;">
          Don’t have an account? 
          <a href="{% url 'signup' %}" style="color: #FFD700; font-weight: bold;">
            Sign up here
          </a>.
        </p>

        <p class="text-center mt-2" style="color: #FFFFE0;">
          Or Login with:
        </p>

        <!-- Google acc -->
        <div class="google_button">
            <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'main' %}">
              <button type="button" style="border:none; background:none;">
                  <img src="{% static 'images/google_icon-icons.webp' %}" alt="Button Image" width="60" height="60" />
              </button>
            </a>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}
