{% extends "wallpaper_base.html" %}

{% block title %}Sign Up{% endblock %}

{% load static %}

{% block content %}
<div class="auth-page container-fluid d-flex justify-content-center align-items-center full-height">
    <div class="card floating-card shadow-lg p-4" style="width: 400px;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4" style="color: #FFF8DC;">
                Create an Account <i class="fa-brands fa-google fa-lg" style="color: #B197FC;"></i>
            </h2>

            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label style="color: #FFFAF0; font-weight: 600;">
                        {{ form.username.label }}
                    </label>
                    {{ form.username }}
                </div>

                <div class="mb-3">
                    <label style="color: #FFFAF0; font-weight: 600;">
                        {{ form.email.label }}
                    </label>
                    {{ form.email }}
                </div>

                <div class="mb-3">
                    <label style="color: #FFFAF0; font-weight: 600;">
                        {{ form.password1.label }}
                    </label>
                    {{ form.password1 }}
                </div>

                <div class="mb-3">
                    <label style="color: #FFFAF0; font-weight: 600;">
                        {{ form.password2.label }}
                    </label>
                    {{ form.password2 }}
                </div>

                <button type="submit" class="btn btn-success w-100 mb-3">
                    Sign Up
                </button>

                <p class="text-center mt-2" style="color: #FFFFE0;">
                    Already have an account? 
                    <a href="{% url 'login' %}" 
                       style="color: #FFD700; font-weight: bold;">
                        Login here
                    </a>.
                </p>

                <p class="text-center mt-2" style="color: #FFFFE0;">
                    Or Login with:
                </p>

                <!-- Google acc -->
                <div class="google_button">
                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'main' %}">
                        <button type="button" style="border:none; background:none;">
                            <img src="{% static 'images/google_icon-icons.webp' %}" alt="Button Image" width="60" height="60" />
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://accounts.google.com/gsi/client" async></script>

{% endblock %}
